body {
  margin: 0;
  padding: 0;
  font-family: 'Armata', sans-serif;
  background-color: #fee4de1a;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
  margin-top: 20px;
  background-color: #fee4de1a;
}

button {
  width: 80%;
  max-width: 600px; /* Add this line to set the maximum width */
  font-size: 36px;
  border: none;
  color: #bae7ed;
  border-radius: 10px;
  background-color: #333333e3;
  height: 60px;
  
  margin-bottom: 15px;
  font-family: 'Armata', sans-serif;
}

button:hover {
  filter: brightness(150%); /* makes the button 100% grayscale */
}

h1 {
  font-size: 40px;
  color: #333333;
  font-family: 'Armata', sans-serif;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 0px;
  
}

input {
  width: 200px;
  max-width: 300px; /* Add this line to set the maximum width */
  font-size: 18px;
  background-color: #fee4de1a;
  color: #333333;
  font-family: 'Armata', sans-serif;
  text-align: center;
  box-shadow: 0 0 5px 5px #bae7ed;
  border-radius: 10px;
  margin-bottom: 5px;
  border-style: none;
  animation: strobe 6s infinite;
  
}

@keyframes strobe {
  0% {
    box-shadow: 0 0 5px 5px #bae7ed;
  }
  50% {
    box-shadow: 0 0 5px 5px #ffffff;
  }
  100% {
    box-shadow: 0 0 5px 5px #bae7ed;
  }
}

p {
  width: 80%;
  max-width: 600px; /* Add this line to set the maximum width */
  font-size: 16px;
  border: none;
  color: 333333;
  border-radius: 10px;
  background-color: #fee4de1a;
  height: 36px;
  margin-bottom: 5px;
  font-family: 'Armata', sans-serif;
  text-align: center;
}

h2 {
  width: 80%;
  max-width: 800px; /* Add this line to set the maximum width */
  font-size: 28px;
  font-weight: normal;
  white-space: nowrap;
  color: 333333;
  padding: 5px;
  background-color: #fee4de1a;
  height: 36px;
  margin-bottom: 10px;
  font-family: 'Armata', sans-serif;
  text-align: center;
}

li {
  width: 80%
  max-width: 600px; /* Add this line to set the maximum width */
  font-size: 18px;
  border: none;
  color: #bae7ed;
  border-radius: 10px;
  background-color: #333333e3;
  height: 40px;
  display: block;
  line-height: 40px;
  
  font-family: 'Armata', sans-serif;
  text-align: center;
  transition: brightness 0.2s ease; /* adds a smooth transition effect */

}

li:hover {
 filter: brightness(150%)
}


ul {
  
  list-style-type: none;
  width: 80%;
  background-color: #fee4de1a;
  border-radius: 10px;
  max-width: 600px; /* Add this line to set the maximum width */
  padding: 10px;
  
  margin-top: 5px;
  
  align-items: center;
}
