body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
  margin-top: 20px;
}

button {
  width: 80%;
  max-width: 600px; /* Add this line to set the maximum width */
  font-size: 36px;
  border: none;
  color: white;
  border-radius: 10px;
  background-color: #5997b0;
  height: 60px;
  margin-bottom: 15px;
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-size: 48px;
  color: #5997b0;
  font-family: 'Roboto', sans-serif;
  text-align: center;
}

input {
  width: 80%;
  max-width: 600px; /* Add this line to set the maximum width */
  font-size: 24px;
  width: 80%;
  max-width: 600px; /* Add this line to set the maximum width */
  color: #5997b0;
  font-family: 'Roboto', sans-serif;
  text-align: center;
}

p {
  width: 80%;
  max-width: 600px; /* Add this line to set the maximum width */
  font-size: 24px;
  border: none;
  color: white;
  border-radius: 10px;
  background-color: #5997b0;
  height: 40px;
  margin-bottom: 15px;
  font-family: 'Roboto', sans-serif;
  text-align: center;
}

li {
  width: 100%
  max-width: 600px; /* Add this line to set the maximum width */
  font-size: 16px;
  border: none;
  color: white;
  border-radius: 10px;
  background-color: #5997b0;
  height: 40px;
  display: block;
  line-height: 40px;
  
  font-family: 'Roboto', sans-serif;
  text-align: center;
}

ul {
  
  list-style-type: none;
  width: 80%;
  max-width: 600px; /* Add this line to set the maximum width */
  padding: 0;
  
  align-items: center;
}
